{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>BIBLIOTECA</h1>
    <a href="{% url 'cadastrar_livro' %}">
        <button>Cadastrar outro livro</button>
    </a>
    <div class="livros_container">
        {% for livro in livros %}
        <div class="livro">
            <h2>{{ livro.titulo }}</h2>
            {% if livro.capa %}
            <div class="capa"><img src="{{ livro.capa.url }}" alt="Capa de {{ livro.titulo }}">
            </div>
            {% endif %}
            <div class="livro-info">
                <p>Autor: {{ livro.autor }}</p>
                <p>Ano: {{ livro.ano }}</p>
                <p>Gêneros:</p>
                <ul> {% for genero in livro.generos.all %}
                    <li>{{ genero.nome }}</li>
                    {% empty %}
                    <li>Nenhum gênero cadastrado.</li>
                    {% endfor %}
                </ul>
                <p>Sinopse: {{ livro.sinopse }}</p>
                <p>Editora: {{ livro.editora }}</p>
                <p>Status: {{ livro.get_status_display }}</p>
                <a href="{% url 'editar_livro' livro.id %}">
                <button type="button">
                    EDITAR
                </button>
                </a>
                <form method="POST" action="{% url 'excluir_livro' livro.id %}">
                    {% csrf_token %}
                    <button type="submit">EXCLUIR EXEMPLAR</button>
                </form>
            </div>
    </div>
        {% endfor %}
</body>
</html>