{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>BIBLIOTECA</h1>
    <a href="{% url 'cadastrar_livro' %}">
        <button>Cadastrar outro livro</button>
    </a>
        {% for livro in livros %}
        <div class="livro">
            <h2>{{ livro.titulo }}</h2>
            {% if livro.capa %}
            <div class="capa"><img src="{{ livro.capa.url }}" alt="Capa de {{ livro.titulo }}">
            </div>
            {% endif %}
            <div class="livro-info">
                <p>Autor: {{ livro.autor }}</p>
                <p>Ano: {{ livro.ano }}</p>
                <p>Gênero: {{ livro.genero }}</p>
                <p>Sinopse: {{ livro.sinopse }}</p>
                <p>Editora: {{ livro.editora }}</p>

                <a href="{% url 'editar_livro' livro.id %}">
                <button type="button">EDITAR</button>
                </a>

                <form method="POST" action="{% url 'excluir_livro' livro.id %}">
                {% csrf_token %}
                <button type="submit">EXCLUIR EXEMPLAR</button>
                </form>
            </div>
            <br><br><br>
            </div>
        {% endfor %}
</body>
</html>